<br>
  <span style="opacity:.85;">
    インターネットバンキング サポートダイヤル: <strong>0120-XXX-XXX</strong>（平日 9:00〜17:00、土日祝休）
    &nbsp;|&nbsp; ご利用前に <a href="#" style="color:#999;">利用規約</a> をご確認ください。
    &nbsp;|&nbsp; 架空銀行株式会社（登録番号: 第XXX号）
  </span>
  <br>
  <span style="opacity:.7; font-size:.75rem;">
    〒100-0001 東京都千代田区架空町1丁目2番3号 架空銀行ビル
    &nbsp;|&nbsp; 金融機関コード: 9999 &nbsp;|&nbsp; 預金保険機構加盟
    &nbsp;|&nbsp; 相談窓口: <strong>0570-XXX-YYY</strong>（通話料有料・年中無休 8:00〜21:00）
    &nbsp;|&nbsp; <a href="#" style="color:#888;">プライバシーポリシー</a>
    &nbsp;|&nbsp; <a href="#" style="color:#888;">セキュリティポリシー</a>
    &nbsp;|&nbsp; <a href="#" style="color:#888;">反社会的勢力に対する基本方針</a>
  </span>
